.row{
  justify-content: center;
}

.img{
  text-align: center;
}

.h3_complete{
  text-align: center;
  font-size: 30px;
}

.body_index{
text-align: center;
}

#in_action{
  width: 200px;
  height: 200px;
  background: black;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}
